version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
    networks:
      - wnc-net

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"  # React servida por Nginx
    networks:
      - wnc-net

networks:
  wnc-net:
    driver: bridge
